.type-topic-input {
  flex-grow: 1;
  margin: 0 0 8px 8px;
  width: 100%;
  max-width: calc(50% - 3px);

  details {
    width: 100%;
  }

  .select-kit-header {
    color: var(--primary-high);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.mobile-view {
  .category-input {
    z-index: 3;
  }

  .type-topic-input {
    margin: 0 0 6px 6px;
  }

  .custom-tag-container .category-input {
    max-width: calc(50% - 3px) !important;
    margin: 0 0 6px 0 !important;
  }
}

.category-input {
  margin: 0 0 8px 0 !important;
  max-width: calc(50% - 5px) !important;

  .mini-tag-chooser {
    margin: 0 !important;
    max-width: 100% !important;
    width: 100%;
  }
}

.full-width-category {
  flex: 1 1 100% !important;
  max-width: 100% !important;
}

.full-width-tag {
  margin: 0 0 8px 8px;
  flex-grow: 1;
  max-width: calc(50% - 4px);
}
